body {
    font-family: $main-font;
    @include font();
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.container {
    width: 1140px;
    margin: 0 auto;

    @include desktop {
        width: 100%;
        padding: 0 16px;
        box-sizing: border-box;
    }
}

.title-wrapper{
    background-color: $light-pink-color;

    @include tablet {
        text-align: center;
    }
}

.title-wrapper h1 {
    text-transform: uppercase;
    color: $pink-color;
    font-size: 24px;
    font-weight: 400;
    padding:60px 0;
    display: inline-block;
}

.title-with-bread {
    display: flex;
    justify-content: space-between;
}

ul {
    padding-left: 0;
}
