$main-font: 'Lato';
$black-color: #222222;
$gray-color: #5D5D5D;
$light-gray-color: #9F9F9F;
$light-pink-color: #f1e4e6;
$pink-color: #f16d7f;

$desktop-width: 1200px;
$tablet-width: 768px;
$mobile-width: 375px;
