.brand {
    display: flex;
    background-color: $light-pink-color;

    @include desktop {
        width: 100%;
    }

    &__image {
        width: 50%;
        display: flex;
        justify-content: flex-end;

        @include tablet {
            display: none;
        }
    }

    &__image img {
        @include desktop {
            width: 100%;
            height: auto;
        }
    }

    &__heading-wrapper {
        flex-grow: 1;
        padding: 0 0 0 92px;
        display: flex;
        align-items: center;

        @include tablet {
            width: 100%;
            min-height: 360px;
        }
    }

    &__heading {
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        text-transform: uppercase;
        position: relative;

        @include tablet {
            font-size: 37px;
            margin: 0 auto;
        }
    }

    &__heading:before {
        content: '';
        width: 12px;
        height: 92px;
        left: -30px;
        top: 6px;
        background-color: $pink-color;
        position: absolute;
    }

    &__heading-text {
        font-weight: 700;
        font-size: 37px;
        line-height: 44px;
        display: block;

        @include desktop {
            font-size: 24px;
        }
    }

    &__heading-pink {
        color: $pink-color;
    }
}