.cart {
    display: flex;
    padding: 96px 0 128px 0;

    @include desktop {
        flex-direction: column;
    }

    &__products {
        width: 750px;

        @include desktop {
            width: 95%;
            margin: 0 auto;
        }
    }

    &__list {
        margin-bottom: 72px;
    }

    &__product,
    &__products-buttons {
        width: 652px;

        @include desktop {
            width: 100%;
            margin: 0 auto;
        }

        @include tablet {
            width: 100%;
        }
    }

    &__products-buttons {
        @include desktop {
            margin-bottom: 60px;
        }
    }

    &__product {
        display: flex;
        position: relative;
        margin-bottom: 40px;
        -moz-box-shadow: 5px 5px 10px #ccc;
        -webkit-box-shadow: 5px 5px 10px #ccc;
        box-shadow: 5px 5px 10px #ccc;
    }

    &__product-img {
        width: 262px;
        height: 306px;
        overflow: hidden;

        @include tablet {
            width: 50%;
        }
    }

    &__product-img img{
        width: 100%;
        height: auto;
    }

    &__product-text {
        padding: 22px 100px 22px 31px;

        @include tablet {
            padding: 22px 30px 22px 31px;
        }
    }

    &__product-heading {
        @include font(24px, 400, 29px);
        text-transform: uppercase;
        margin-bottom: 42px;
    }

    &__product-price,
    &__product-color,
    &__product-size,
    &__product-quantity {
        @include font(22px, 400, 26px);
        color: $gray-color;
        margin-bottom: 6px;
    }

    &__product-number {
        color: $pink-color;
    }

    &__product-qnumb {
        border: 1px solid $light-gray-color;
        padding: 0 15px;
    }

    &__product-close {
        position: absolute;
        right: 28px;
        top: 22px;
        width: 18px;
        height: 18px;
    }

    &__products-buttons {
        display: flex;
        justify-content: space-between;

        @include tablet {
            flex-direction: column;
            justify-content: center;
        }
    }

    &__products-button {
        display: inline-block;
        border: 1px solid $gray-color;
        padding: 15px 40px;
        color: $gray-color;
        @include font(14px, 300, 17px);
        text-transform: uppercase;
        transition: .3s;
        text-decoration: none;

        @include tablet {
            margin-bottom: 20px;
            text-align: center;
        }
    }

    &__products-button:hover {
        border: 1px solid $pink-color;
        color: #ffffff;
        background-color: $pink-color;
        text-decoration: none;
    }

    &__info {
        flex-grow: 1;

        @include desktop {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: 0 16px;
            box-sizing: border-box;
        }

        @include tablet {
            flex-direction: column;
        }
    }

    &__adress {
        @include desktop {
            width: 47%;
        }

        @include tablet {
            width: 100%;
        }
    }

    &__adress-heading {
        @include font(16px, 300, 19px);
        text-transform: uppercase;
        margin-bottom: 0;
    }

    &__adress-form {
        margin-bottom: 57px;

        @include desktop {
            margin-bottom: 0;
        }
    }

    &__adress-label {
        visibility: hidden;
    }

    &__adress-input {
        display: block;
        padding: 15px;
        border: 1px solid $light-gray-color;
        width: 100%;
        outline: none;
        box-sizing: border-box;
    }

    &__adress-input:focus,
    &__adress-input:active {
        outline: none;
        border: 1px solid $pink-color;
    }

    &__adress-input::placeholder {
        color: $light-gray-color;
    }

    &__adress-quote {
        display: inline-block;
        border: 1px solid $gray-color;
        padding: 10px 15px;
        color: $gray-color;
        @include font(14px, 300, 17px);
        text-transform: uppercase;
        background-color: #ffffff;
        transition: .3s;
        margin-top: 24px;
        cursor: pointer;
    }

    &__adress-quote:hover {
        border: 1px solid $light-gray-color;
        color: #ffffff;
        background-color: $light-gray-color;
        text-decoration: none;
    }

    &__proceed-wrapper {
        background-color: #f5f3f3;
        padding: 40px;

        @include desktop {
            width: 40%;
            margin-top: 35px;
            padding-bottom: 0;
        }

        @include tablet {
            width: 100%;
            padding-bottom: 50px;
            box-sizing: border-box;
        }
    }

    &__proceed-numbers {
        border-bottom: 1px solid #e2e2e2;
        text-align: right;
    }

    &__proceed-sub {
        @include font(11px, 400, 13px);
        text-transform: uppercase;
    }

    &__proceed-grand {
        @include font(16px, 400, 19px);
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    &__proceed-sub-numb {
        display: inline-block;
        margin-left: 25px;
    }

    &__proceed-grand-numb {
        color: $pink-color;
        font-weight: 700;
        display: inline-block;
        margin-left: 25px;
    }

    &__proceed {
        display: inline-block;
        border: 1px solid $pink-color;
        padding: 15px;
        color: #ffffff;
        @include font(16px, 300, 19px);
        text-transform: uppercase;
        background-color: $pink-color;
        transition: .3s;
        margin-top: 24px;
        cursor: pointer;
        width: 100%;
    }

    &__proceed:hover {
        border: 1px solid $black-color;
        color: #ffffff;
        background-color: $black-color;
        text-decoration: none;
    }
}