.breadcrumbs {
    display: flex;
    display: inline-block;
    padding:65px 0 55px 0;

    &__list {
        display: flex;

        & li a {
            display: flex;
            right: 0;
            @include font(14px, 300, 17px);
            color: #636363;
            text-transform: uppercase;
            text-decoration: none;
        }

        & li {
            @include font(14px, 300, 17px);
            color: #636363;
            display: flex;
            position: relative;
            margin: 0 20px 0 0;
        }

        & li:after {
            content: '/';
            position: absolute;
            right: 0;
            margin-right: -12px;
        }

        & .breadcrumbs__active a {
            color: $pink-color;
            font-weight: 700;
        }

        & .breadcrumbs__active {
            margin: 0;
        }

        & .breadcrumbs__active:after {
            content: '';
        }
    }
}