.stocks {
    padding: 65px 0 48px 0;

    @include desktop {
        padding: 18px 16px 48px 16px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include desktop {
            width: 100%;
        }
    }

    &__item {
        width: 360px;
        min-height: 260px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-transform: uppercase;
        background-color: #cccccc;

        @include desktop {
            width: 32%;
        }

        @include tablet {
            width: 100%;
            margin-top: 18px;
        }
    }

    &__item-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        text-align: center;
        color: #ffffff;
        margin:0 0 6px 0;
}

    &__item-header {
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        color: $pink-color;
        margin:0;
    }

    &__item_woman {
        background-image: url(../img/stocks/stocks-1.jpg);
        background-position: center center;
        background-size: cover;
    }

    &__item_man {
        background-image: url(../img/stocks/stocks-2.jpg);
        background-position: center center;
        background-size: cover;
    }

    &__item_kids {
        background-image: url(../img/stocks/stocks-3.jpg);
        background-position: center center;
        background-size: cover;
    }

    &__item_accesories {
        width: 100%;
        background-image: url(../img/stocks/stocks-4.jpg);
        background-position: center center;
        margin-top:30px;
        min-height: 180px;

        @include desktop {
            margin-top:18px;
        }
    }
}